<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="../../favicon.png", type="image/x-icon")
        title Playfair Cipher
        script(src="./index.ts" defer)
    body
        header.app-header
            a.app-logo(href="./")
                img.app-logo__img(src="../../img/logo.png" alt="Software Security" width="32" height="32")
                h1.app-logo__label Playfair Cipher

        main.app
            
            section.controls
                .actions
                    h2.title Actions

                    button.actions__auth Authenticate
                    button.actions__decode Decode Pwd
                
                form.add

                    h2.title Register new user

                    ul.add__list
                        li.add__item
                            label.add__label(for="add__login") Login
                            input.add__field#add__login(name="login")
                        li.add__item
                            label.add__label(for="add__name") Name
                            input.add__field#add__name(name="user_name")
                        li.add__item
                            label.add__label(for="add__pwd") Password
                            input.add__field#add__pwd(type="password" name="pwd")
                        li.add__item
                            button.add__field(type=submit) Register

            section.db
                h2.title Users

                .db__content There are no users