@import '../../styles/breakpoints';
@import '../../styles/base';
@import '../../styles/header';
@import '../../styles/main';

button {
   padding: 1em;
}

textarea {
   height: 120px;
   min-height: 120px;
   max-height: 350px;

   resize: vertical;
}

.app {
   display: flex;
   justify-content: space-between;
   flex-direction: column;

   margin: 1.5rem 5vw;

   @include breakpoint($large-tablet) {
      flex-direction: row;
   }
}

.controls,
.db {
   flex: 1
}

.db {
   margin-top: 1.5rem;

   @include breakpoint($large-tablet) {
      margin-top: 0;
      margin-left: 1.5rem;
   }
}

.title {
   margin-bottom: 0.5em;
}

.actions {
   margin-bottom: 2em;
}

.actions__auth {
   margin-right: 1rem;
}

.add__list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.add__item {
   margin-top: 16px;

   &:first-child {
      margin-top: 0;
   }
}

.add__label {
   display: block;
   margin-bottom: 8px;
}

.add__field {
   width: 100%;
   padding: 1em;
}

.db {
   max-width: 100%;
   overflow: auto;
}

.db__table {
   width: 100%;

   border-collapse: collapse;

   tr {
      &:hover {
         background-color: #ddd;
      }

      &:nth-child(even) {
         background-color: #f2f2f2;
      }
   }

   td,
   th {
      border: 1px solid #ddd;
      padding: 0.4em 0.8em;
   }

   th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #212121;
      color: white;
   }
}