<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="../../favicon.png", type="image/x-icon")
        title Playfair Cipher
        script(src="./index.ts" defer)
    body
        header.app-header
            a.app-logo(href="./")
                img.app-logo__img(src="../../img/logo.png" alt="Software Security" width="32" height="32")
                h1.app-logo__label Playfair Cipher

        main.app
            
            .actions
                button.actions__auth
                button.actions__decode
            
            form.add

                ul.add__list
                    li.add__item
                        input(name="login")
                    li.add__item
                        input(name="name")
                    li.add__item
                        input(type="password" name="password")
                    li.add_item
                        button(type=submit) Register

            .db There are no users