<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="../../favicon.png", type="image/x-icon")
        title Hill Cipher
        script(src="./index.ts" defer)
    body
        header.app-header
            a.app-logo(href="./")
                img.app-logo__img(src="../../img/logo.png" alt="Software Security" width="32" height="32")
                h1.app-logo__label Hill Cipher

        main.app

            h1 Encode

            p Key
            input.encode-key(value="do_you_love_code_so_much?" maxlength="100")

            p Message
            textarea.encode-msg(maxlength="10000") Some secret message!

            p Encoded message
            textarea.encode-res(readonly)

            h1 Decode

            p Key
            input.decode-key(value="do_you_love_code_so_much?" maxlength="100")

            p Message
            textarea.decode-msg(maxlength="12000")

            p Decoded message
            textarea.decode-res(readonly)
