@import '../../styles/breakpoints';
@import '../../styles/base';
@import '../../styles/header';
@import '../../styles/main';

.app {
   max-width: 960px;

   margin: 0 auto;
   padding: 1.5rem 5vw;
   padding-bottom: 6rem;
}

input,
textarea {
   width: 100%;
   padding: 1em;
}

textarea {
   height: 140px;
   min-height: 120px;
   max-height: 400px;

   resize: vertical;
}

h1 {
   margin-top: 1em;

   &:first-child {
      margin-top: 0;
   }
}

.prepared-key {
   display: flex;
}