<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="favicon.png", type="image/x-icon")
        title Character Frequency Counter
        script(src="./index.ts" defer)
    body

        h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eaque quis nemo recusandae quam explicabo sit, quibusdam reprehenderit, fugiat voluptas quo, tempora adipisci molestiae enim pariatur. Consequatur totam velit obcaecati.  

